
# Ignore specific files from git meant only to exist locally

# React / Express.js
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components
build
.env

*.sublime*

psd
thumb
sketch

# Visual Studio Code
.vscode

# Intellij
.idea
