<!-- https://handlebarsjs.com/ -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Email template for expiring products" />
  </head>
  <body>
    <h3>Hi, {{ name }}!</h3>
    <p>These products are about to expire tomorrow:</p>
    <ol>
      {{#each products}}
      <li>{{this.name}}</li>
      {{/each}}
    </ol>
    <p>Be sure to take care of them :)</p>
    <p>
      You can go to your products
      <a target="_blank" href="https://cs-project-client.herokuapp.com/">here</a
      >.
    </p>
    <p style="margin-bottom: 0px">Best wishes,</p>
    <p style="margin-top: 0px">CS Project Team</p>
  </body>
</html>
